In [1]:
import sys
from pathlib import Path
import os 
sys.path.append('/home/gridsan/vyuan/.local/lib/python3.9/site-packages/')

current_path = Path.cwd()

# Go to top of the root and append
root = current_path.parents[1]
sys.path.append(str(root))

os.chdir(root)

In [2]:
import pandas as pd
import math

In [3]:
!pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: openpyxl in /home/gridsan/vyuan/.local/lib/python3.9/site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /home/gridsan/vyuan/.local/lib/python3.9/site-packages (from openpyxl) (1.1.0)
WARNING: There was an error checking the latest version of pip.

In [4]:
import openpyxl

# 200 verbs bias experiment

In [5]:
path_dict = {
    'Baseline Full': 'results/imSitu/200_verbs_full/grid_search/baseline/lr_0.001_momentum_0.8_step_5_gamma_0.1/accuracies_by_group.csv',
    'CBM Full': 'results/imSitu/200_verbs_full/grid_search/CBM/ic0.3_lam0.0007_cc0_no_gender/accuracies_by_group.csv', 
    'CBM Full Gender': 'results/imSitu/200_verbs_full/CBM/gender/ic0_lam_0.0007_cc0/accuracies_by_group.csv',
    'CheatBM Full': 'results/imSitu/cheatBM/200_verbs_full/accuracies_by_group.csv',
    'Baseline Balanced': 'results/imSitu/200_verbs/grid_search/baseline/lr_0.001_momentum_0.8_step_5_gamma_0.1/balanced/accuracies_by_group.csv',
    'Baseline Male A': 'results/imSitu/200_verbs/grid_search/baseline/lr_0.001_momentum_0.8_step_5_gamma_0.1/imbalanced_1/accuracies_by_group.csv',
    'Baseline Female A': 'results/imSitu/200_verbs/grid_search/baseline/lr_0.001_momentum_0.8_step_5_gamma_0.1/imbalanced_2/accuracies_by_group.csv',
    'CBM Balanced': 'results/imSitu/200_verbs/grid_search/CBM/no_gender/ic0_lam0.0007_cc0/balanced/accuracies_by_group.csv',
    'CBM Male A': 'results/imSitu/200_verbs/grid_search/CBM/no_gender/ic0_lam0.0007_cc0/imbalanced_1/accuracies_by_group.csv',
    'CBM Female A': 'results/imSitu/200_verbs/grid_search/CBM/no_gender/ic0.3_lam0.0007_cc0/imbalanced_2/accuracies_by_group.csv',
    'CBM Balanced Gender': 'results/imSitu/200_verbs/grid_search/CBM/gender/ic0.3_lam0.0007_cc0/balanced/accuracies_by_group.csv',
    'CBM Male A Gender': 'results/imSitu/200_verbs/grid_search/CBM/gender/ic0_lam0.0007_cc0/imbalanced_1/accuracies_by_group.csv',
    'CBM Female A Gender': 'results/imSitu/200_verbs/grid_search/CBM/gender/ic0.3_lam0.0007_cc0/imbalanced_2/accuracies_by_group.csv',
    'CheatBM Balanced': 'results/imSitu/cheatBM/200_verbs_balanced/accuracies_by_group.csv',
    'CheatBM Male A': 'results/imSitu/cheatBM/200_verbs_imbalanced_1/accuracies_by_group.csv',
    'CheatBM Female A': 'results/imSitu/cheatBM/200_verbs_imbalanced_2/accuracies_by_group.csv',
}

In [6]:
path_dict_last_layer = {
    'Baseline': 'results/imSitu/custom/CBM_imSitu_200_full/imSitu_200_balanced/accuracies_by_group.csv', 
    'Male': 'results/imSitu/custom/CBM_imSitu_200_full/imSitu_200_male/accuracies_by_group.csv',
    'Female': 'results/imSitu/custom/CBM_imSitu_200_full/imSitu_200_female/accuracies_by_group.csv',
    'Male-A': 'results/imSitu/custom/CBM_imSitu_200_full/imSitu_200_imbalanced_1/accuracies_by_group.csv',
    'Female-A': 'results/imSitu/custom/CBM_imSitu_200_full/imSitu_200_imbalanced_2/accuracies_by_group.csv',
}

In [7]:
result_dict = {}

for name, path in path_dict.items():
    result_dict[name] = pd.read_csv(path, index_col=0)

In [26]:
(1.44 + 4.83) / 2

3.135

In [25]:
for key, value in result_dict.items():
    print(key)
    print(value)

Baseline Full
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.329504    631.0  1915.0              NaN                   NaN
male_2    0.278406    468.0  1681.0              NaN                   NaN
female_1  0.315129    502.0  1593.0              NaN                   NaN
female_2  0.326667    490.0  1500.0              NaN                   NaN
male      0.305617   1099.0  3596.0              NaN                   NaN
female    0.320724    992.0  3093.0              NaN                   NaN
Group 1   0.322976   1133.0  3508.0         0.014375                  male
Group 2   0.301163    958.0  3181.0         0.048261                female
Total     0.312603   2091.0  6689.0         0.015107                female
CBM Full
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.327415    627.0  1915.0              NaN                   NaN
male_2    0.274836    462.0  1681.0              NaN                   NaN
female_1  0.336472    536.0  1593.0              NaN                   NaN
female_2  0.326667    490.0  1500.0              NaN                   NaN
male      0.302836   1089.0  3596.0              NaN                   NaN
female    0.331717   1026.0  3093.0              NaN                   NaN
Group 1   0.331528   1163.0  3508.0         0.009057                female
Group 2   0.299277    952.0  3181.0         0.051830                female
Total     0.316191   2115.0  6689.0         0.028880                female
CBM Full Gender
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.330548    633.0  1915.0              NaN                   NaN
male_2    0.277811    467.0  1681.0              NaN                   NaN
female_1  0.335217    534.0  1593.0              NaN                   NaN
female_2  0.329333    494.0  1500.0              NaN                   NaN
male      0.305895   1100.0  3596.0              NaN                   NaN
female    0.332363   1028.0  3093.0              NaN                   NaN
Group 1   0.332668   1167.0  3508.0         0.004668                female
Group 2   0.302106    961.0  3181.0         0.051523                female
Total     0.318134   2128.0  6689.0         0.026468                female
CheatBM Full
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.340992    653.0  1915.0              NaN                   NaN
male_2    0.276026    464.0  1681.0              NaN                   NaN
female_1  0.344633    549.0  1593.0              NaN                   NaN
female_2  0.330667    496.0  1500.0              NaN                   NaN
male      0.310623   1117.0  3596.0              NaN                   NaN
female    0.337860   1045.0  3093.0              NaN                   NaN
Group 1   0.342645   1202.0  3508.0         0.003641                female
Group 2   0.301792    960.0  3181.0         0.054640                female
Total     0.323217   2162.0  6689.0         0.027237                female
Baseline Balanced
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.270896    363.0  1340.0              NaN                   NaN
male_2    0.264349    327.0  1237.0              NaN                   NaN
female_1  0.266617    357.0  1339.0              NaN                   NaN
female_2  0.259499    321.0  1237.0              NaN                   NaN
male      0.267753    690.0  2577.0              NaN                   NaN
female    0.263199    678.0  2576.0              NaN                   NaN
Group 1   0.268757    720.0  2679.0         0.004279                  male
Group 2   0.261924    648.0  2474.0         0.004850                  male
Total     0.265476   1368.0  5153.0         0.004554                  male
Baseline Male A
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.314925    422.0  1340.0              NaN                   NaN
male_2    0.163298    202.0  1237.0              NaN                   NaN
female_1  0.179238    240.0  1339.0              NaN                   NaN
female_2  0.312045    386.0  1237.0              NaN                   NaN
male      0.242142    624.0  2577.0              NaN                   NaN
female    0.243012    626.0  2576.0              NaN                   NaN
Group 1   0.247107    662.0  2679.0         0.135687                  male
Group 2   0.237672    588.0  2474.0         0.148747                female
Total     0.242577   1250.0  5153.0         0.000870                female
Baseline Female A
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.170896    229.0  1340.0              NaN                   NaN
male_2    0.308003    381.0  1237.0              NaN                   NaN
female_1  0.290515    389.0  1339.0              NaN                   NaN
female_2  0.158448    196.0  1237.0              NaN                   NaN
male      0.236709    610.0  2577.0              NaN                   NaN
female    0.227096    585.0  2576.0              NaN                   NaN
Group 1   0.230683    618.0  2679.0         0.119620                female
Group 2   0.233226    577.0  2474.0         0.149555                  male
Total     0.231904   1195.0  5153.0         0.009613                  male
CBM Balanced
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.281343    377.0  1340.0              NaN                   NaN
male_2    0.274859    340.0  1237.0              NaN                   NaN
female_1  0.274085    367.0  1339.0              NaN                   NaN
female_2  0.270008    334.0  1237.0              NaN                   NaN
male      0.278231    717.0  2577.0              NaN                   NaN
female    0.272127    701.0  2576.0              NaN                   NaN
Group 1   0.277716    744.0  2679.0         0.007258                  male
Group 2   0.272433    674.0  2474.0         0.004850                  male
Total     0.275180   1418.0  5153.0         0.006103                  male
CBM Male A
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.315672    423.0  1340.0              NaN                   NaN
male_2    0.182700    226.0  1237.0              NaN                   NaN
female_1  0.192681    258.0  1339.0              NaN                   NaN
female_2  0.324980    402.0  1237.0              NaN                   NaN
male      0.251843    649.0  2577.0              NaN                   NaN
female    0.256211    660.0  2576.0              NaN                   NaN
Group 1   0.254199    681.0  2679.0         0.122991                  male
Group 2   0.253840    628.0  2474.0         0.142280                female
Total     0.254027   1309.0  5153.0         0.004368                female
CBM Female A
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.203731    273.0  1340.0              NaN                   NaN
male_2    0.304770    377.0  1237.0              NaN                   NaN
female_1  0.307692    412.0  1339.0              NaN                   NaN
female_2  0.167340    207.0  1237.0              NaN                   NaN
male      0.252231    650.0  2577.0              NaN                   NaN
female    0.240295    619.0  2576.0              NaN                   NaN
Group 1   0.255692    685.0  2679.0         0.103961                female
Group 2   0.236055    584.0  2474.0         0.137429                  male
Total     0.246264   1269.0  5153.0         0.011936                  male
CBM Balanced Gender
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.278358    373.0  1340.0              NaN                   NaN
male_2    0.276475    342.0  1237.0              NaN                   NaN
female_1  0.278566    373.0  1339.0              NaN                   NaN
female_2  0.271625    336.0  1237.0              NaN                   NaN
male      0.277454    715.0  2577.0              NaN                   NaN
female    0.275233    709.0  2576.0              NaN                   NaN
Group 1   0.278462    746.0  2679.0         0.000208                female
Group 2   0.274050    678.0  2474.0         0.004850                  male
Total     0.276344   1424.0  5153.0         0.002221                  male
CBM Male A Gender
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.315672    423.0  1340.0              NaN                   NaN
male_2    0.180275    223.0  1237.0              NaN                   NaN
female_1  0.192681    258.0  1339.0              NaN                   NaN
female_2  0.326597    404.0  1237.0              NaN                   NaN
male      0.250679    646.0  2577.0              NaN                   NaN
female    0.256988    662.0  2576.0              NaN                   NaN
Group 1   0.254199    681.0  2679.0         0.122991                  male
Group 2   0.253436    627.0  2474.0         0.146322                female
Total     0.253833   1308.0  5153.0         0.006308                female
CBM Female A Gender
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.202239    271.0  1340.0              NaN                   NaN
male_2    0.307195    380.0  1237.0              NaN                   NaN
female_1  0.308439    413.0  1339.0              NaN                   NaN
female_2  0.167340    207.0  1237.0              NaN                   NaN
male      0.252619    651.0  2577.0              NaN                   NaN
female    0.240683    620.0  2576.0              NaN                   NaN
Group 1   0.255319    684.0  2679.0         0.106200                female
Group 2   0.237268    587.0  2474.0         0.139854                  male
Total     0.246652   1271.0  5153.0         0.011936                  male
CheatBM Balanced
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.283582    380.0  1340.0              NaN                   NaN
male_2    0.278092    344.0  1237.0              NaN                   NaN
female_1  0.279313    374.0  1339.0              NaN                   NaN
female_2  0.273242    338.0  1237.0              NaN                   NaN
male      0.280947    724.0  2577.0              NaN                   NaN
female    0.276398    712.0  2576.0              NaN                   NaN
Group 1   0.281448    754.0  2679.0         0.004269                  male
Group 2   0.275667    682.0  2474.0         0.004850                  male
Total     0.278673   1436.0  5153.0         0.004549                  male
CheatBM Male A
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.302239    405.0  1340.0              NaN                   NaN
male_2    0.185125    229.0  1237.0              NaN                   NaN
female_1  0.182226    244.0  1339.0              NaN                   NaN
female_2  0.329830    408.0  1237.0              NaN                   NaN
male      0.246023    634.0  2577.0              NaN                   NaN
female    0.253106    652.0  2576.0              NaN                   NaN
Group 1   0.242255    649.0  2679.0         0.120013                  male
Group 2   0.257478    637.0  2474.0         0.144705                female
Total     0.249563   1286.0  5153.0         0.007083                female
CheatBM Female A
          accuracy  correct   count  Accuracy Parity Accuracy Parity Class
male_1    0.200746    269.0  1340.0              NaN                   NaN
male_2    0.316087    391.0  1237.0              NaN                   NaN
female_1  0.303958    407.0  1339.0              NaN                   NaN
female_2  0.164107    203.0  1237.0              NaN                   NaN
male      0.256112    660.0  2577.0              NaN                   NaN
female    0.236801    610.0  2576.0              NaN                   NaN
Group 1   0.252333    676.0  2679.0         0.103212                female
Group 2   0.240097    594.0  2474.0         0.151981                  male
Total     0.246458   1270.0  5153.0         0.019311                  male

In [19]:
results = result
(results.loc['male_1', 'correct'] + results.loc['female_1', 'correct']) / (results.loc['male_1', 'count'] + results.loc['female_1', 'count'])

0.3315279361459521

## CheatBM

In [76]:
import json
original = json.load(open('data/datasets/imSitu/data/200_verbs_full/target_concepts_retained.json'))

In [79]:
results = []

for verb, concepts in original.items():
    results += concepts

In [9]:
results_temp = []

for name_df,df in result_dict.items():
    #if name_df in ['Baseline Imbalanced 1', 'Baseline Imbalanced 2', 'Baseline Balanced', 'Baseline full']:
    if name_df == 'Baseline':
            male_1, female_1, male_2, female_2 = df.loc['male_1', 'accuracy'], df.loc['female_1', 'accuracy'], df.loc['male_2', 'accuracy'], df.loc['female_2', 'accuracy']
    
            male_minus_female_1 = 100 * (male_1 - female_1)
            male_minus_female_2 = 100 * (male_2 - female_2)

            accuracy_parity_1 = abs(male_minus_female_1)
            accuracy_parity_2 = abs(male_minus_female_2)

            highest_accuracy_1 = 'male' if male_minus_female_1 > 0 else 'female'
            highest_accuracy_2 = 'male' if male_minus_female_2 > 0 else 'female'

            average_accuracy_1 = 100 * (df.loc['male_1', 'correct'] + df.loc['female_1', 'correct']) / (df.loc['male_1', 'count'] + df.loc['female_1', 'count'])
            average_accuracy_2 = 100 * (df.loc['male_2', 'correct'] + df.loc['female_2', 'correct']) / (df.loc['male_2', 'count'] + df.loc['female_2', 'count'])
            average_accuracy = 100 * (df.loc['male_1', 'correct'] + df.loc['female_1', 'correct'] + df.loc['male_2', 'correct'] + df.loc['female_2', 'correct']) / (df.loc['male_1', 'count'] + df.loc['female_1', 'count'] + df.loc['male_2', 'count'] + df.loc['female_2', 'count'])
            
            result_temp_df = pd.DataFrame({'Experiment': [name_df], 
                              'Average Accuracy': [average_accuracy],
                              'Average Accuracy 1': [average_accuracy_1],
                              'Average Accuracy 2': [average_accuracy_2],
                              'Accuracy Parity 1': [accuracy_parity_1], 
                              'Accuracy Parity 2': [accuracy_parity_2],
                              'Highest accuracy 1': [highest_accuracy_1],
                              'Highest accuracy 2': [highest_accuracy_2],
                             })
            
            results_temp.append(result_temp_df)
            
final_temp_df = pd.concat(results_temp).set_index('Experiment')

ValueError: No objects to concatenate

In [8]:
final_temp_df

,Average Accuracy,Average Accuracy 1,Average Accuracy 2,Accuracy Parity 1,Accuracy Parity 2,Highest accuracy 1,Highest accuracy 2
Experiment,,,,,,,
Baseline,25.968007,26.738883,25.117887,1.489218,5.201586,male,female

In [9]:
results = []

for name, df in result_dict.items():
    male_1, female_1, male_2, female_2 = df.loc['male_1', 'accuracy'], df.loc['female_1', 'accuracy'], df.loc['male_2', 'accuracy'], df.loc['female_2', 'accuracy']
    
    male_minus_female_1 = 100 * (male_1 - female_1)
    male_minus_female_2 = 100 * (male_2 - female_2)
    
    accuracy_parity_1 = abs(male_minus_female_1)
    accuracy_parity_2 = abs(male_minus_female_2)
    
    highest_accuracy_1 = 'male' if male_minus_female_1 > 0 else 'female'
    highest_accuracy_2 = 'male' if male_minus_female_2 > 0 else 'female'
    
    average_accuracy_1 = 100 * (df.loc['male_1', 'correct'] + df.loc['female_1', 'correct']) / (df.loc['male_1', 'count'] + df.loc['female_1', 'count'])
    average_accuracy_2 = 100 * (df.loc['male_2', 'correct'] + df.loc['female_2', 'correct']) / (df.loc['male_2', 'count'] + df.loc['female_2', 'count'])
    average_accuracy = 100 * (df.loc['male_1', 'correct'] + df.loc['female_1', 'correct'] + df.loc['male_2', 'correct'] + df.loc['female_2', 'correct']) / (df.loc['male_1', 'count'] + df.loc['female_1', 'count'] + df.loc['male_2', 'count'] + df.loc['female_2', 'count'])

    percentage_accuracy = (average_accuracy - final_temp_df.loc['Baseline', 'Average Accuracy']) 
    percentage_ap_1 = (accuracy_parity_1 - final_temp_df.loc['Baseline', 'Accuracy Parity 1']) 
    percentage_ap_2 = (accuracy_parity_2 - final_temp_df.loc['Baseline', 'Accuracy Parity 2']) 
    
    
    result_df = pd.DataFrame({'Experiment': [name], 
                              'Average Accuracy': [average_accuracy],
                              'Average Accuracy 1': [average_accuracy_1],
                              'Average Accuracy 2': [average_accuracy_2],
                              'Accuracy Parity 1': [accuracy_parity_1], 
                              'Accuracy Parity 2': [accuracy_parity_2],
                              'Highest accuracy 1': [highest_accuracy_1],
                              'Highest accuracy 2': [highest_accuracy_2],
                              'Accuracy change to Baseline': [percentage_accuracy],
                              'Accuracy Parity 1 change to Baseline': [percentage_ap_1],
                              'Accuracy Parity 2 change to Baseline': [percentage_ap_2],
                             })
    results.append(result_df)
    
final_df = pd.concat(results).reset_index(drop=True)

In [38]:
df_balanced = final_df[final_df['Experiment'].isin(['Baseline Balanced', 'CBM Dense Balanced', 'CBM Sparse Balanced', 'CBM Dense Balanced Gender', 'CBM Sparse Balanced Gender'])]
df_imbalanced_1 = final_df[final_df['Experiment'].isin(['Baseline Imbalanced 1', 'CBM Dense Imbalanced 1', 'CBM Sparse Imbalanced 1', 'CBM Dense Imbalanced 1 Gender', 'CBM Sparse Imbalanced 1 Gender'])]
df_imbalanced_2 = final_df[final_df['Experiment'].isin(['Baseline Imbalanced 2', 'CBM Dense Imbalanced 2', 'CBM Sparse Imbalanced 2', 'CBM Dense Imbalanced 2 Gender', 'CBM Sparse Imbalanced 2 Gender'])]
df_full = final_df[final_df['Experiment'].isin(['Baseline full', 'CBM Sparse full', 'CBM Dense full', 'CBM Sparse full gender', 'CBM Dense full gender'])]

In [14]:
result_dict['Comparison Metrics'] = final_df

In [39]:
result_dict['Comparison Metrics'] = final_df
result_dict['Comparison Metrics Balanced'] = df_balanced
result_dict['Comparison Metrics Imbalanced 1'] = df_imbalanced_1
result_dict['Comparison Metrics Imbalanced 2'] = df_imbalanced_2
result_dict['Comparison Metrics full'] = df_full

In [15]:
with pd.ExcelWriter(Path.cwd() / 'results' / 'imSitu' / '200_verbs_full' / 'results_full.xlsx') as writer:
    for name, df in result_dict.items():
        df.to_excel(writer, sheet_name=name, index=False)

## Data Analysis

In [11]:
df = result_dict['Comparison Metrics']

KeyError: 'Comparison Metrics'

In [12]:
df

          accuracy  correct   count
male_1    0.326371    625.0  1915.0
male_2    0.270672    455.0  1681.0
female_1  0.330822    527.0  1593.0
female_2  0.326667    490.0  1500.0

In [15]:
metrics = ['Accuracy change to Baseline	', 'Accuracy Parity 1 change to Baseline', 'Accuracy Parity 2 change to Baseline']

balanced = ['CBM Dense Balanced', 'CBM Sparse Balanced', 'CBM Dense Balanced Gender', 'CBM Sparse Balanced Gender']
imbalanced_1 = ['CBM Dense Imbalanced 1', 'CBM Sparse Imbalanced 1', 'CBM Dense Imbalanced 1 Gender', 'CBM Sparse Imbalanced 1 Gender']
imbalanced_2 = ['CBM Dense Imbalanced 2', 'CBM Sparse Imbalanced 2', 'CBM Dense Imbalanced 2 Gender', 'CBM Sparse Imbalanced 2 Gender']

In [ ]:
result = {}


for experiment in balanced:
    result_experiment = {'Experiment': experiment}
    for metric in metrics:
        baseline_value = df.loc['Baseline Balanced', metric]
        experiment_value = df.loc[experiment, metric]
        percentage_change = (baseline_value - experiment_value) / (baseline_value)
        result_experiment[experiment]

In [1]:
path_result = Path('results/imSitu/custom/CBM_imSitu_200_full')

path_balanced = path_result / 'imSitu_200_balanced'
path_imbalanced_1 = path_result / 'imSitu_200_imbalanced_1'
path_imbalanced_2 = path_result / 'imSitu_200_imbalanced_2'
path_male = path_result / 'imSitu_200_male'
path_female = path_result / 'imSitu_200_female'

NameError: name 'Path' is not defined